@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    font-family: 'Nanum Gothic', serif;
    margin: 10px;
}
a:link {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
    color: red;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
    color: yellow;
}